:root {
	--heading-font: "Dosis", sans-serif;
	--para: "Oxygen", sans-serif;
	--hint: "Josefin Sans", sans-serif;
	--page-heading-font: "Source Code Pro", monospace;
	--nav-links: "Comfortaa", cursive;
}
.notify {
	display: block;
	padding: 10px;
	font-family: var(--hint);
}
.success {
	display: block;
	padding: 10px 5px;
	color: green;
	font-size: 14px;
	height:10%;
	text-align: center;
}
.error {
	display: block;
	padding: 2px 0px;
	color: red;
	text-align: center;
	font-size: 14px;
}
.loading {
	display: block;
	padding: 10px 5px;
	color: gray;
	text-align: center;
	font-size: 24px;
}
.warning {
	display: block;
	padding: 10px 5px;
	text-align: center;
	color: rgb(255, 187, 0);
	font-size: 24px;
}